<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Welcome ' + ${name} + '! This is a home page.'" />
<button th:id="login" th:if="${logged_in == false}" th:attr="onclick=|login()|">LogIn</button>
<button th:id="logout" th:unless="${logged_in == false}" th:attr="onclick=|logout()|">LogOut</button>
</body>

<script>
    function login() {
        window.location.href = 'http://localhost:8080/signin'
    }

    function logout() {
        var HttpClient = function() {
            this.get = function(aUrl, aCallback) {
                var anHttpRequest = new XMLHttpRequest();
                anHttpRequest.onreadystatechange = function() {
                    if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                        aCallback(anHttpRequest.responseText);
                }

                anHttpRequest.open( "GET", aUrl, true );
                anHttpRequest.send( null );
            }
        }
        var client = new HttpClient();
        client.get('http://localhost:8080/logout', function(response) {
            window.location.href = response

        });
    }
</script>
</html>